@page
@model SitemaBibliotecario.App.Presentacion.Pages.ListEditorialesModel
@{
}

<h1>Listado de editoriales en el sistema</h1>
<p>
    @Html.ActionLink("Listar Todo", "./ListEditoriales")
</p>

@using (Html.BeginForm())
{
    <p>
        Buscar x Nombre: @Html.TextBox("SearchString")  
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    @foreach (var editorial in Model.editoriales)
    {
        <tr>
            <td>@editorial.id</td>
            <td>@editorial.edit_nombre</td>
            
            <td>
                <a class="btn btn-primary table-btn" asp-page="./EditEditoriales" asp-route-editorialId="@editorial.id">
                  <i class="fas fa-address-book fa-lg" aria-hidden="true">Editar</i>
                </a>
            </td>
           <td>
                <a class="btn btn-danger table-btn" asp-page="./DeleteEditoriales" asp-route-editorialId="@editorial.id">
                  <i class="fas fa-address-book fa-lg" aria-hidden="true">Eliminar</i>
                </a>
            </td>  
        </tr>
    }
</table>

<a asp-page=".\EditEditoriales" class="btn btn-primary">Agregar nuevo editorial</a>


