@page
@model SitemaBibliotecario.App.Presentacion.ListTiposLibroModel
@{
}

<h1 class="text-light">Listado de tipos de libro en el sistema</h1>
<p class="text-light">
    @Html.ActionLink("Listar Todo", "./ListTiposLibro")
</p>

@using (Html.BeginForm())
{
    <p class="text-light">
        Buscar x Nombre: @Html.TextBox("SearchString")
        <input class="btn btn-warning" type="submit" value="Search" />
    </p>
}

<table class="table table-dark table-hover">
    @foreach (var tipoLibro in Model.tiposLibro)
    {
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>

        <tr>
            <td>@tipoLibro.id</td>
            <td>@tipoLibro.tipoLibro_nombre</td>

            <td>
                <a class="btn btn-primary table-btn" asp-page="./EditTiposLibro" asp-route-tipoLibroId="@tipoLibro.id">
                    <i class="fas fa-address-book fa-lg" aria-hidden="true">Editar</i>
                </a>
            </td>
            <td>
                <a class="btn btn-danger table-btn" asp-page="./DeleteTiposLibro" asp-route-tipoLibroId="@tipoLibro.id">
                    <i class="fas fa-address-book fa-lg" aria-hidden="true">Eliminar</i>
                </a>
            </td>
        </tr>
    }
</table>
<br>
<a asp-page=".\EditTiposLibro" class="btn btn-success">Agregar nuevo tipo de libro</a>
