@page
@model SitemaBibliotecario.App.Presentacion.Pages.ListCategoriasLibroModel
@{
}


<h1 class="text-light">Listado de categorias de libro en el sistema</h1>
<p class="text-light">
    @Html.ActionLink("Listar Todo", "./ListCategoriasLibro")
</p>

@using (Html.BeginForm())
{
    <p class="text-light">
        Buscar x Nombre: @Html.TextBox("SearchString")
        <input class="btn btn-warning" type="submit" value="Search" />
    </p>
}

<table class="table table-dark table-hover">
    @foreach (var categoriaLibro in Model.categoriasLibro)
    {
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>

        <tr>
            <td>@categoriaLibro.id</td>
            <td>@categoriaLibro.catLibro_nombre</td>

            <td>
                <a class="btn btn-primary table-btn" asp-page="./EditCategoriasLibro"
                asp-route-categoriaLibroId="@categoriaLibro.id">
                    <i class="fas fa-address-book fa-lg" aria-hidden="true">Editar</i>
                </a>
            </td>
            <td>
                <a class="btn btn-danger table-btn" asp-page="./DeleteCategoriasLibro"
                asp-route-categoriaLibroId="@categoriaLibro.id">
                    <i class="fas fa-address-book fa-lg" aria-hidden="true">Eliminar</i>
                </a>
            </td>
        </tr>
    }
</table>
<br>
<a asp-page=".\EditCategoriasLibro" class="btn btn-success">Agregar nuevo categoria de libro</a>