@page
@model SistemaBibliotecario.App.Presentacion.DeleteModel
@{
    int usuarioId = Model.usuario.id;
}

<h2>Eliminar usuario @Model.usuario.usu_nombre</h2>
<form method="post">
    <input type="hidden" asp-for="usuario.id" />
    <div class="form-group">
        Id en base de datos: @Model.usuario.id
    </div>
    <div class="form-group">
        Identificación: @Model.usuario.usu_identificacion
    </div>
    <div class="form-group">
        Nombres: @Model.usuario.usu_nombre
    </div>
    <div class="form-group">
        Apellidos: @Model.usuario.usu_apellido
    </div>
    <div class="form-group">
        Telefono: @Model.usuario.usu_telefono
    </div>
    <div class="form-group">
        E-mail: @Model.usuario.usu_email
    </div>
    <div class="form-group">
        Dirección: @Model.usuario.usu_direccion
    </div>    
    
    <button type="submit" class="btn btn-success">Eliminar</button>    
</form>

<a asp-page="./List" class="btn-default">Volver a la Lista de usuarios... </a>