@page
@model SistemaBibliotecario.App.Presentacion.DeleteModel
@{
    int usuarioId = Model.usuario.id;
}

<h2 class="text-light">Eliminar usuario <i class="text-primary">@Model.usuario.usu_nombre</i></h2>
<form method="post">
    <input type="hidden" asp-for="usuario.id" />
    <div class="form-group text-light">
        <strong> Id en base de datos:</strong> @Model.usuario.id
    </div>
    <div class="form-group text-light">
        <strong>Identificación:</strong> @Model.usuario.usu_identificacion
    </div>
    <div class="form-group text-light">
        <strong>Nombres:</strong> @Model.usuario.usu_nombre
    </div>
    <div class="form-group text-light">
        <strong>Apellidos:</strong> @Model.usuario.usu_apellido
    </div>
    <div class="form-group text-light">
        <strong>Telefono:</strong> @Model.usuario.usu_telefono
    </div>
    <div class="form-group text-light">
        <strong>E-mail:</strong> @Model.usuario.usu_email
    </div>
    <div class="form-group text-light">
        <strong>Dirección:</strong> @Model.usuario.usu_direccion
    </div>    
    
    <br>
    <button type="submit" class="btn btn-danger">Eliminar</button>    
</form>
<br>
<a asp-page="./List" class="btn btn-secondary">Volver a la Lista de usuarios... </a>

