@page
@model SistemaBibliotecario.App.Presentacion.Pages.DetailsModel
@{
}

<h2 class="text-light">Datos Detallados del usuario <i class="text-primary">@Model.usuario.usu_nombre</i></h2>
<div class="text-light">
    <strong>Id en base de datos:</strong> @Model.usuario.id
</div>
<div class="text-light">
    <strong>Identificación:</strong> @Model.usuario.usu_identificacion
</div>
<div class="text-light">
    <strong>Nombres:</strong> @Model.usuario.usu_nombre
</div>
<div class="text-light">
    <strong>Apellidos:</strong> @Model.usuario.usu_apellido
</div>
<div class="text-light">
    <strong>Telefono:</strong> @Model.usuario.usu_telefono
</div>
<div class="text-light">
    <strong>E-mail:</strong> @Model.usuario.usu_email
</div>
<div class="text-light">
    <strong>Dirección:</strong> @Model.usuario.usu_direccion
</div>
<br>
<a asp-page="./List" class="btn btn-secondary">Volver a la Lista de usuarios... </a>
