@page
@model SistemaBibliotecario.App.Presentacion.DetailsBibliotecariosModel
@{
    int bibliotecarioId = Model.bibliotecario.id;
}

<h2>Datos Detallados del bibliotecario @Model.bibliotecario.bib_nombre</h2>
<div>
    Id en base de datos: @Model.bibliotecario.id
</div>
<div>
    Identificación: @Model.bibliotecario.bib_identificacion
</div>
<div>
    Nombres: @Model.bibliotecario.bib_nombre
</div>
<div>
    Apellidos: @Model.bibliotecario.bib_apellido
</div>
<div>
    Telefono: @Model.bibliotecario.bib_telefono
</div>
<div>
    E-mail: @Model.bibliotecario.bib_email
</div>
<div>
    Turno de trabajo: @Model.bibliotecario.bib_turnBib
</div>

<a asp-page="./ListBibliotecarios" class="btn-default">Volver a la Lista de bibliotecarios... </a>
