@page
@model SistemaBibliotecario.App.Presentacion.Pages.ListBibliotecariosModel
@{
}

<h1>Listado de bibliotecarios en el sistema</h1>
<table class="table">
    @foreach (var bibliotecario in Model.bibliotecarios)
    {
        <tr>
            <td>@bibliotecario.id</td>
            <td>@bibliotecario.bib_identificacion</td>
            <td>@bibliotecario.bib_nombre</td>
            <td>@bibliotecario.bib_apellido</td>
            <td>
                <a class="btn btn-primary table-btn" asp-page="./DetailsBibliotecarios" asp-route-bibliotecarioId="@bibliotecario.id">
                  <i class="fas fa-info-circle fa-lg"></i>Detalle 
                </a>
            </td>
            <td>
                <a class="btn btn-primary table-btn" asp-page="./EditBibliotecarios" asp-route-bibliotecarioId="@bibliotecario.id">
                  <i class="fas fa-address-book fa-lg" aria-hidden="true">Editar</i>
                </a>
            </td>
           <td>
                <a class="btn btn-danger table-btn" asp-page="./Delete" asp-route-bibliotecarioId="@bibliotecario.id">
                  <i class="fas fa-address-book fa-lg" aria-hidden="true">Eliminar</i>
                </a>
            </td>  
        </tr>
    }
</table>

<a asp-page=".\EditBibliotecarios" class="btn btn-primary">Agregar nuevo bibliotecario</a>