@page
@model SitemaBibliotecario.App.Presentacion.Pages.DeleteLibrosModel
@{
}

<h2>Datos Detallados del libro @Model.libro.lib_titulo</h2>
<form method="post">
    <input type="hidden" asp-for="libro.id" />
    <div class="form-group">
        Id en base de datos: @Model.libro.id
    </div>
    <div class="form-group">
        Titulo: @Model.libro.lib_titulo
    </div>
    <div class="form-group">
        ISBN: @Model.libro.lib_isbn
    </div>
    <div class="form-group">
        Sinopsis: @Model.libro.lib_sinopsis
    </div>
    <div class="form-group">
        Numero de capitulos: @Model.libro.lib_numCapt
    </div>
    <div class="form-group">
        Numero de páginas: @Model.libro.lib_numPag
    </div>
    <div class="form-group">
        Tipo de libro: @Model.libro.lib_tipoLibroid
    </div>
    <div class="form-group">
        Idioma: @Model.libro.lib_idioLibroid
    </div>
    <div class="form-group">
        Categoria: @Model.libro.lib_catLibroid
    </div>
    <div class="form-group">
        Autor: @Model.libro.lib_autid
    </div>
    <div class="form-group">
        Editorial: @Model.libro.lib_editid
    </div>
    
    <button type="submit" class="btn btn-success">Eliminar</button>
</form>  
<a asp-page="./ListLibros" class="btn-default">Volver a la Lista de libros... </a>


