@page
@model SitemaBibliotecario.App.Presentacion.Pages.ListLibrosModel
@{
}


<h1 class="text-light">Listado de libros en el sistema</h1>
<p class="text-light">
    @Html.ActionLink("Listar Todo", "./ListLibros")
</p>

@using (Html.BeginForm())
{
    <p class="text-light">
        Buscar x Nombre: @Html.TextBox("SearchString")
        <input class="btn btn-warning" type="submit" value="Search" />
    </p>
}

<table class="table table-dark table-hover">
    @foreach (var libro in Model.libros)
    {

        <tr>
            <th>Id</th>
            <th>Titulo</th>
            <th>ISBN</th>
            <th>Detalles</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>

        <tr>
            <td>@libro.id</td>
            <td>@libro.lib_titulo</td>
            <td>@libro.lib_isbn</td>
            <td>
                <a class="btn btn-secondary table-btn" asp-page="./DetailsLibros" asp-route-libroId="@libro.id">
                    <i class="fas fa-info-circle fa-lg"></i>Detalle
                </a>
            </td>
            <td>
                <a class="btn btn-primary table-btn" asp-page="./EditLibros" asp-route-libroId="@libro.id">
                    <i class="fas fa-address-book fa-lg" aria-hidden="true">Editar</i>
                </a>
            </td>
            <td>
                <a class="btn btn-danger table-btn" asp-page="./DeleteLibros" asp-route-libroId="@libro.id">
                    <i class="fas fa-address-book fa-lg" aria-hidden="true">Eliminar</i>
                </a>
            </td>
        </tr>
    }
</table>
<br>
<a asp-page=".\EditLibros" class="btn btn-success">Agregar nuevo libro</a>