@page
@model SistemaBibliotecario.App.Presentacion.Pages.ListTurnBibModel
@{
}

<h1 class="text-light">Listado de turnos en el sistema</h1>
<p class="text-light">
    @Html.ActionLink("Listar Todo", "./ListTurnBib")
</p>

@using (Html.BeginForm())
{
    <p class="text-light">
        Buscar x Nombre: @Html.TextBox("SearchString")
        <input class="btn btn-warning" type="submit" value="Search" />
    </p>
}

<table class="table table-dark table-hover">
    @foreach (var turno in Model.turnos)
    {
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
        <tr>
            <td>@turno.id</td>
            <td>@turno.turn_nombre</td>

            <td>
                <a class="btn btn-primary table-btn" asp-page="./EditTurnBib" asp-route-turnoId="@turno.id">
                    <i class="fas fa-address-book fa-lg" aria-hidden="true">Editar</i>
                </a>
            </td>
            <td>
                <a class="btn btn-danger table-btn" asp-page="./DeleteTurnBib" asp-route-turnoId="@turno.id">
                    <i class="fas fa-address-book fa-lg" aria-hidden="true">Eliminar</i>
                </a>
            </td>
        </tr>
    }
</table>
<br>
<a asp-page=".\EditTurnBib" class="btn btn-success">Agregar nuevo turno</a>